
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h3>GERADOR DE BOLETOS</h3>
<br />

<form action="GerarBoleto/Bradesco">
    <input type="submit" value="Bradesco">
</form>
<br />

<form action="GerarBoleto/Santander">
    <input type="submit" value="Santander">
</form>
<br />

<form action="GerarBoleto/Itau">
    <input type="submit" value="Itau">
</form>
<br />